* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    }

.header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 570px;
    color: #fff;
   
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 85px;
    }
    &__logo {
        display: block;
        text-decoration: none;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
        &::after {
            content: '.';
            width: 5px;
            height: 5px;
            color: #fb414e;
            
        }
    }   
    .menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        &__item{
        margin-left: 29px;
        }
        &__link {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: 500;
            padding-bottom: 1px;
            &:hover {
                border-bottom: 2px solid #fb414e;
            }
        }
    }
    &__bottom {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__title {
        font-size: 47px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 38px;

    }
    &__text {
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 300;
        margin: 0 auto;
        width: 65.5%;
        line-height: 21px;
        margin-bottom: 41px;
    }
    &__buttons {
        width: 46.4%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        
    }
    &__btn {
        border: 2px solid #fb414e;
        padding: 8px 38px;
        width: 37%;
        height: 35px;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 400;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
            background-color: #fb414e;
            
        }

    }

}

.services {
    background-color: #fff;
    .boxes{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: -60px;
            &__item {
            width: 300px;
            height: 300px;
            background-color: #202b30;
            margin: 7px;
            padding: 55px 45px;
            color: #fff;
            font-family: 'Roboto';
            &:hover {
                background-color: #fb414e;
            }
            

        }
        &__img {
            margin-bottom: 25px;
        }
        &__title {
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 600;
        }
        &__line {
            width: 40px;
            height: 2px;
            color: white;
            margin-bottom: 16px;
        }
        &__text {
            font-size: 11px;
            line-height: 17px;
            text-align: justify;
            font-weight: lighter;
            
        }
    }

}

.best-services {

    &__box {
        text-align: center;
    }
    &__heading {
        margin-bottom: 70px;
    }
    &__min-title {
        color: #fb414e;
        font-size: 13px;
        font-family: 'Roboto';
        font-weight: bold;
        margin-bottom: 17px;

    }
    &__title {
        color: #1f1f1f;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 45px;

        &--red {
            color: #fb414e;
        }
    }
    &__text {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 13px;
        color: #8b8b8b;
        max-width: 630px;
        margin: 0 auto;
    }
    &__section {
        max-width: 94.3%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding-bottom: 40px;
        margin: 0 auto;
                
    }
    &__cells {
        padding: 30px 30px;

            }
    &__cell-img {
        margin-bottom: 15px;
    }
    &__cell-title {
        margin-bottom: 15px;
        font-size: 32px;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
    }
    &__cell-text {
        font-size: 16px;
        line-height: 28px;
        font-family: 'Roboto';
        color: #a4a4a4;
        font-weight: lighter;


    }
}  

.detailed {
    width: 92.6%;
    display: block;
    background-color: #202b30;
    margin: 0 auto;
    .business {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 70px;
        &__box1 {
            width: 40.7%;
        }
        &__title {
            color: #fff;
            font-size: 35px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            margin-bottom: 30px;

        }
        &__text {
            color: #fff;
            font-size: 16px;
            font-weight: 200;
            line-height: 28px;
            font-family: 'Roboto';
            margin-bottom: 35px;

        }
        &__btn {
            border: 2px solid #ffffff;
            padding: 10px 45px;
            font-size: 12px;
            color: #fff;
            font-family: 'Roboto';
            font-weight: 400;
            cursor: pointer;
            &:hover {
            background-color: #fb414e;
                    }
        }
            &__box2 {
                display: flex;
                justify-content: space-between;
                margin-right: 5px;
            }
            &__img {
            margin-right: 33px;
            } 
        }
} 

.description {
    width: 92.6%;
    margin: 0 auto;
    padding-bottom: 90px;
    background-color: #f8f8f8;
    .container {
        max-width: 81%;
    }
        &__bottom {
            display: flex;
            justify-content: space-between;
            padding-top: 75px;
        }
        &__boxes {
            display: grid;
            grid-template-columns: 48% 48%;
            grid-template-rows: 52% 48%;
            justify-items: left;
            column-gap: 20px;
            row-gap: 12px;

        }
        &__box {
            // padding: 10px;

            &-title {
                font-size: 18px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                color: #1f1f1f;
                margin-bottom: 10px;

            }
            &-text {
                font-size: 14px;
                line-height: 25px;
                color: #838383;
                font-family: 'Roboto';

            }
        }
        &__part {
            padding-left: 30px;
            &-title {
                font-size: 37px;
                font-weight: 700;
                font-family: 'Source Sans Pro', sans-serif;
                color: #1f1f1f;
                margin-bottom: 22px;
                margin-top: -10px;
            }
            &-text {
                font-size: 14px;
                line-height: 25px;
                color: #838383;
                font-family: 'Roboto';
            }

        }
}

.gallery {
    margin-top: 70px;
    &__box {
        width: 92.6%;
        margin: 0 auto;
}
    &__nav {
        margin-bottom: 20px;
        .gallery__menu {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            width: 41%;
            margin: 0 auto;
            &-item {
            margin-left: 20px;
            }
            &-link {
            text-decoration: none;
            text-transform: uppercase;
            color: #a4a4a4;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 500;
            padding-bottom: 1px;
            &:hover {
                color: #000;
                border-bottom: 2px solid #000000;
                    }
            }
        } 
    }
    &__photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1px;

        .gallery__photo {
            width: 98%;
            height: 97%;
        }
    }

}

.trusted {

    &__block {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 70px;
        .trusted__box1 {
            width: 50.6%;
            .trusted__title {
                color: #1f1f1f;
                font-size: 35px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .trusted__text {
                color: #1f1f1f;
                font-size: 16px;
                font-weight: 200;
                line-height: 28px;
                font-family: 'Roboto';
                margin-bottom: 35px;
            }
            .trusted__btn {
                border: 2px solid #1f1f1f;
                padding: 10px 45px;
                font-size: 12px;
                color: #3d3d3d;
                font-family: 'Roboto';
                font-weight: 500;
                cursor: pointer;
                
                &:hover {
                    background-color: #fb414e;
                    color: #fff;
                        }
            }
        }

        .trusted__box2 {
            .trusted__video {
                height: 100%;
                width: 84%;
                float: right;
                margin-right: 30px;
            }
        }
    }
}

.clients {
    width: 92.6%;
    display: block;
    background-color: #202b30;
    margin: 0 auto;

    &__block {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 70px;

        .clients__box1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px;
            justify-items: center;
            align-items: center;
            margin-right: 50px;

            .clients__logo {

            }
        }

        .clients__box2 {
            padding-top: 30px;
            text-align: right;
            .clients__title {
                color: #ffffff;
                font-size: 35px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .clients__text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 200;
                line-height: 28px;
                font-family: 'Roboto';
                margin-bottom: 35px;
            }
        }
    }

}

.designs {
    background-image: url('../img/bench-accounting.png');
    background-repeat: no-repeat;
    background-size: 92.6%;
    background-position: center center;
    padding-top: 76px;
    padding-bottom: 82px;
    margin-top: -52px;

    &__block {
        max-width: 52%;
        .designs__title {
            color: #1f1f1f;
            font-size: 35px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .designs__text {
            color: #969696;
            font-size: 16px;
            font-weight: 200;
            line-height: 28px;
            font-family: 'Roboto';
            margin-bottom: 35px;
        }

        .designs__bottom {
            display: flex; 
            justify-content: space-between;

            .designs__cells {

                .designs__cell-img {
                    padding-bottom: 11px;
                }

                .designs__cells-title {
                    font-size: 18px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 700;
                    color: #1f1f1f;
                    margin-bottom: 25px;
                    margin-top: 15px;
                }
                .designs__cells-text {
                    font-size: 14px;
                    line-height: 25px;
                    color: #838383;
                    font-family: 'Roboto';
                }
            }
        }
    }
}

.contact {
    &__block {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 70px;
    }
    &__box {
        width: 19%;
        padding-left: 44px;
        text-align: right;
        margin-right: 0px;
        flex-basis: 44%;

        .contact__title {
            color: #1f1f1f;
            font-size: 35px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .contact__text {
            color: #1f1f1f;
            font-size: 14px;
            font-weight: 200;
            line-height: 26px;
            font-family: 'Roboto';
            margin-bottom: 35px;
        }
    }
    &__form {
        width: 50%;
        .contact__elements {
            .contact__name {
                width: 100%;
                padding-left: 18px;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
            }

            .contact__company-name {
                width: 48%;
                padding-left: 18px;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
                margin-right: 16.4px;
            }

            .contact__email {
                width: 48%;
                padding-left: 18px;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
            }
            .contact__select {
                width: 100%;
                padding: 9.5px 18px 9.5px;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
                color: #646565;
            }

            .contact__textarea {
                width: 100%;
                height: 215px;
                padding: 9.5px 18px 9.5px;
                margin-bottom: 27px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
                color: #646565;
            }

            .contact__submit {
                width: 200%;
                height: 40px;
                padding: 9.5px 18px 9.5px;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 13px;
                font-family: 'Roboto';
                color: #646565;
                margin-left: -100%;
                background-color: transparent;
                border-width: 1px;
                    &:hover {
                        background-color: #fb414e;
                        color: #fff;
                        border-color: transparent;
                        line-height: 18px;
                        
                    }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #202b30;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        .footer__logo {
            display: block;
            text-decoration: none;
            font-size: 30px;
            color: #fff;
            font-weight: 700;
            font-family: 'Source Sans Pro', sans-serif;
            &::after {
                content: '.';
                width: 5px;
                height: 5px;
                color: #fb414e;
                }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
                &__item{
                    margin-left: 29px;
                }
                &__link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-family: 'Roboto';
                    font-weight: 500;
                    padding-bottom: 1px;
                        &:hover {
                            border-bottom: 2px solid #fb414e;
                        }
            }
            }
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;

        .footer__contact {
            .footer__contact-heading {
                font-size: 16px;
                color: #fff;
                font-weight: 400;
                font-family: 'Roboto';
                padding: 5px 0 5px;

            }
            .footer__contact-text {
                font-size: 16px;
                line-height: 25px;
                color: #cccccc;
                font-weight: 200;
                font-family: 'Roboto';
                padding: 5px 0 5px;
            }
        }
        .footer__subscribe {
            flex-basis: 47%;

            .footer__subscribe-heading {
                font-size: 16px;
                color: #fff;
                font-weight: 400;
                font-family: 'Roboto';
                padding: 10px 8px 21px;
                text-align: right;
            }
            .footer__input {
                width: 80%;
                padding-left: 18px;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 36px;
                font-family: 'Roboto';
            }

            .footer__submit {
                width: 19.2%;
                height: 40px;
                padding: 9.5px 18px 9.5px;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 14px;
                font-family: 'Roboto';
                color: #fff;
                background-color: transparent;
                border: 1px solid #fff;
                margin-left: -5px; 
                        &:hover {
                        background-color: #fb414e;
                        color: #fff;
                        border-color: transparent;
                        line-height: 18px;
                        
                    }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        
        .footer__icons {
            .footer__icon {
                margin-right: 17px;
            }
        }

        .footer__rights {
            font-size: 14px;
            font-family: 'Roboto';
            line-height: 28px;
            color: #586165;
        }
    }
}
    





