* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 570px;
  color: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 85px;
}

.header__logo {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

.header__logo::after {
  content: '.';
  width: 5px;
  height: 5px;
  color: #fb414e;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header .menu__item {
  margin-left: 29px;
}

.header .menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 1px;
}

.header .menu__link:hover {
  border-bottom: 2px solid #fb414e;
}

.header__bottom {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}

.header__title {
  font-size: 47px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 38px;
}

.header__text {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 0 auto;
  width: 65.5%;
  line-height: 21px;
  margin-bottom: 41px;
}

.header__buttons {
  width: 46.4%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__btn {
  border: 2px solid #fb414e;
  padding: 7px 0;
  width: 37%;
  height: 35px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header__btn:hover {
  background-color: #fb414e;
}

.services {
  background-color: #fff;
}

.services .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: -60px;
}

.services .boxes__item {
  width: 300px;
  height: 300px;
  background-color: #202b30;
  margin: 7px;
  padding: 55px 45px;
  color: #fff;
  font-family: 'Roboto';
}

.services .boxes__item:hover {
  background-color: #fb414e;
}

.services .boxes__img {
  margin-bottom: 25px;
}

.services .boxes__title {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}

.services .boxes__line {
  width: 40px;
  height: 2px;
  color: white;
  margin-bottom: 16px;
}

.services .boxes__text {
  font-size: 11px;
  line-height: 17px;
  text-align: justify;
  font-weight: lighter;
}

.best-services__box {
  text-align: center;
}

.best-services__heading {
  margin-bottom: 70px;
}

.best-services__min-title {
  color: #fb414e;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-bottom: 17px;
}

.best-services__title {
  color: #1f1f1f;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 45px;
}

.best-services__title--red {
  color: #fb414e;
}

.best-services__text {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 13px;
  color: #8b8b8b;
  max-width: 630px;
  margin: 0 auto;
}

.best-services__section {
  max-width: 94.3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

.best-services__cells {
  padding: 30px 30px;
}

.best-services__cell-img {
  margin-bottom: 15px;
}

.best-services__cell-title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.best-services__cell-text {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Roboto';
  color: #a4a4a4;
  font-weight: lighter;
}

.detailed {
  width: 92.6%;
  display: block;
  background-color: #202b30;
  margin: 0 auto;
}

.detailed .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 70px;
}

.detailed .business__box1 {
  width: 40.7%;
}

.detailed .business__title {
  color: #fff;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.detailed .business__text {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  font-family: 'Roboto';
  margin-bottom: 35px;
}

.detailed .business__btn {
  border: 2px solid #ffffff;
  padding: 10px 45px;
  font-size: 12px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 400;
  cursor: pointer;
}

.detailed .business__btn:hover {
  background-color: #fb414e;
}

.detailed .business__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
}

.detailed .business__img {
  margin-right: 33px;
}

.description {
  width: 92.6%;
  margin: 0 auto;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}

.description .container {
  max-width: 81%;
}

.description__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
}

.description__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  -ms-grid-rows: 52% 48%;
      grid-template-rows: 52% 48%;
  justify-items: left;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 12px;
}

.description__box-title {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 10px;
}

.description__box-text {
  font-size: 14px;
  line-height: 25px;
  color: #838383;
  font-family: 'Roboto';
}

.description__part {
  padding-left: 30px;
}

.description__part-title {
  font-size: 37px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1f1f1f;
  margin-bottom: 22px;
  margin-top: -10px;
}

.description__part-text {
  font-size: 14px;
  line-height: 25px;
  color: #838383;
  font-family: 'Roboto';
}

.gallery {
  margin-top: 70px;
}

.gallery__box {
  width: 92.6%;
  margin: 0 auto;
}

.gallery__nav {
  margin-bottom: 20px;
}

.gallery__nav .gallery__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 41%;
  margin: 0 auto;
}

.gallery__nav .gallery__menu-item {
  margin-left: 20px;
}

.gallery__nav .gallery__menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #a4a4a4;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 1px;
}

.gallery__nav .gallery__menu-link:hover {
  color: #000;
  border-bottom: 2px solid #000000;
}

.gallery__photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
}

.gallery__photos .gallery__photo {
  width: 98%;
  height: 97%;
}

.trusted__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 70px;
}

.trusted__block .trusted__box1 {
  width: 50.6%;
}

.trusted__block .trusted__box1 .trusted__title {
  color: #1f1f1f;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.trusted__block .trusted__box1 .trusted__text {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  font-family: 'Roboto';
  margin-bottom: 35px;
}

.trusted__block .trusted__box1 .trusted__btn {
  border: 2px solid #1f1f1f;
  padding: 10px 45px;
  font-size: 12px;
  color: #3d3d3d;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}

.trusted__block .trusted__box1 .trusted__btn:hover {
  background-color: #fb414e;
  color: #fff;
}

.trusted__block .trusted__box2 .trusted__video {
  height: 100%;
  width: 84%;
  float: right;
  margin-right: 30px;
}

.clients {
  width: 92.6%;
  display: block;
  background-color: #202b30;
  margin: 0 auto;
}

.clients__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 70px;
}

.clients__block .clients__box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.clients__block .clients__box2 {
  padding-top: 30px;
  text-align: right;
}

.clients__block .clients__box2 .clients__title {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.clients__block .clients__box2 .clients__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  font-family: 'Roboto';
  margin-bottom: 35px;
}

.designs {
  background-image: url("../img/bench-accounting.png");
  background-repeat: no-repeat;
  background-size: 92.6%;
  background-position: center center;
  padding-top: 76px;
  padding-bottom: 82px;
  margin-top: -52px;
}

.designs__block {
  max-width: 52%;
}

.designs__block .designs__title {
  color: #1f1f1f;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.designs__block .designs__text {
  color: #969696;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  font-family: 'Roboto';
  margin-bottom: 35px;
}

.designs__block .designs__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.designs__block .designs__bottom .designs__cells .designs__cell-img {
  padding-bottom: 11px;
}

.designs__block .designs__bottom .designs__cells .designs__cells-title {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 25px;
  margin-top: 15px;
}

.designs__block .designs__bottom .designs__cells .designs__cells-text {
  font-size: 14px;
  line-height: 25px;
  color: #838383;
  font-family: 'Roboto';
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 70px;
}

.contact__box {
  width: 19%;
  padding-left: 44px;
  text-align: right;
  margin-right: 0px;
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.contact__box .contact__title {
  color: #1f1f1f;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact__box .contact__text {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
  font-family: 'Roboto';
  margin-bottom: 35px;
}

.contact__form {
  width: 50%;
}

.contact__form .contact__elements .contact__name {
  width: 100%;
  padding-left: 18px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
}

.contact__form .contact__elements .contact__company-name {
  padding-left: 18px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
  margin-right: 20.4px;
}

.contact__form .contact__elements .contact__email {
  padding-left: 18px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
}

.contact__form .contact__elements .contact__select {
  width: 100%;
  padding: 9.5px 18px 9.5px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
  color: #646565;
}

.contact__form .contact__elements .contact__textarea {
  width: 100%;
  height: 215px;
  padding: 9.5px 18px 9.5px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
  color: #646565;
}

.contact__form .contact__elements .contact__submit {
  width: 200%;
  height: 40px;
  padding: 9.5px 18px 9.5px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 13px;
  font-family: 'Roboto';
  color: #646565;
  margin-left: -100%;
  background-color: transparent;
  border-width: 1px;
}

.contact__form .contact__elements .contact__submit:hover {
  background-color: #fb414e;
  color: #fff;
  border-color: transparent;
  line-height: 18px;
}

.footer {
  width: 100%;
  background-color: #202b30;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.footer__top .footer__logo {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer__top .footer__logo::after {
  content: '.';
  width: 5px;
  height: 5px;
  color: #fb414e;
}

.footer__top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer__top .menu__item {
  margin-left: 29px;
}

.footer__top .menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 1px;
}

.footer__top .menu__link:hover {
  border-bottom: 2px solid #fb414e;
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.footer__middle .footer__contact .footer__contact-heading {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto';
  padding: 5px 0 5px;
}

.footer__middle .footer__contact .footer__contact-text {
  font-size: 16px;
  line-height: 25px;
  color: #cccccc;
  font-weight: 200;
  font-family: 'Roboto';
  padding: 5px 0 5px;
}

.footer__middle .footer__subscribe {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}

.footer__middle .footer__subscribe .footer__subscribe-heading {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto';
  padding: 10px 8px 21px;
  text-align: right;
}

.footer__middle .footer__subscribe .footer__input {
  width: 80%;
  padding-left: 18px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 36px;
  font-family: 'Roboto';
}

.footer__middle .footer__subscribe .footer__submit {
  width: 19.2%;
  height: 40px;
  padding: 9.5px 18px 9.5px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto';
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  margin-left: -5px;
}

.footer__middle .footer__subscribe .footer__submit:hover {
  background-color: #fb414e;
  color: #fff;
  border-color: transparent;
  line-height: 18px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.footer__bottom .footer__icons .footer__icon {
  margin-right: 17px;
}

.footer__bottom .footer__rights {
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 28px;
  color: #586165;
}

@media screen and (max-width: 1000px) {
  .header {
    min-height: 490px;
  }
  .header .header__top {
    padding-bottom: 60px;
  }
  .header .menu__item {
    margin-left: 15px;
  }
  .header .menu__link {
    font-size: 16px;
  }
  .header .header__title {
    font-size: 41px;
    line-height: 38px;
  }
  .services .container {
    width: 100%;
    padding: 0 7px;
  }
  .services .boxes {
    top: -72px;
  }
  .services .boxes__item {
    width: 300px;
    height: 280px;
    padding: 22px 15px;
  }
  .best-services .container {
    width: 100%;
  }
  .best-services__heading {
    margin-bottom: 35px;
  }
  .best-services .best-services__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .best-services .best-services__cells {
    padding: 16px 10px;
  }
  .best-services .best-services__cell-img {
    margin-bottom: 0px;
  }
  .detailed .business {
    padding: 25px 0 34px;
  }
  .detailed .business__box1 {
    width: 100%;
  }
  .detailed .business__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .detailed .business__box2 {
    margin-right: -48px;
  }
  .detailed .business__img img {
    width: 123%;
  }
  .description {
    padding-bottom: 30px;
  }
  .description .container {
    max-width: 100%;
  }
  .description .description__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .description .description__boxes {
    margin-top: -50px;
  }
  .description .description__part {
    padding-top: 26px;
  }
  .description .description__part-title {
    font-size: 29px;
    margin-bottom: 13px;
  }
  .gallery {
    margin-top: 25px;
  }
  .gallery .gallery__menu {
    width: 75%;
  }
  .trusted .container {
    width: 90%;
  }
  .trusted .trusted__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .trusted .trusted__box1 {
    width: 95%;
    text-align: center;
  }
  .trusted .trusted__box2 {
    margin-top: 18px;
    text-align: center;
  }
  .trusted .trusted__title {
    font-size: 25px;
    margin-bottom: 13px;
  }
  .trusted .trusted__video {
    margin-right: 66px;
  }
  .trusted .trusted__text {
    font-size: 13px;
    font-weight: 200;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .clients .container {
    max-width: 82%;
  }
  .clients .clients__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px 0 13px;
  }
  .clients .clients__logo {
    width: 35%;
  }
  .clients .clients__box1 {
    grid-gap: 3px;
  }
  .clients .clients__box2 {
    padding-top: 32px;
    text-align: center;
  }
  .clients .clients__title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .clients .clients__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .designs .container {
    max-width: 85%;
  }
  .designs .designs__block {
    max-width: 100%;
  }
  .designs .designs__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .designs .designs__text {
    margin-bottom: -10px;
  }
  .designs .designs__cells {
    padding: 2px 10px 1px;
  }
  .designs .designs__cells-title {
    margin-bottom: 12px;
    margin-top: 5px;
  }
  .designs .designs__cells-text {
    line-height: 21px;
  }
  .designs .designs__cell-img {
    padding-bottom: 0px;
  }
  .contact .container {
    width: 100%;
  }
  .contact .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 0 13px;
  }
  .contact .contact__box {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
  .contact .contact__title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .contact .contact__text {
    line-height: 20px;
    margin-bottom: 25px;
  }
  .contact .contact__form {
    width: 100%;
  }
  .contact .contact__company-name {
    display: block;
    width: 100%;
  }
  .contact .contact__email {
    display: block;
    width: 100%;
  }
  .contact .contact__submit {
    width: 100%;
    margin-left: 0px;
  }
  .footer .container {
    max-width: 100%;
  }
  .footer .footer__logo {
    margin-bottom: 12px;
  }
  .footer .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 15px;
  }
  .footer .footer__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__input {
    width: 65%;
  }
  .footer .footer__subscribe {
    width: 42%;
  }
  .footer .footer__subscribe-heading {
    text-align: center;
  }
  .footer .footer__submit {
    width: 65%;
    margin-left: 0px;
  }
  .footer .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */